@using Reservation_vols
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Client> clients = (List<Client>)ViewData["clients"];
}

<h1>Liste des clients :</h1>

<!-- <ul> Début de la liste -->
<ul>
    @foreach(Client client in clients)
    {
        <!-- <li> Element de la liste </li> -->
        <li>Numéro du client : @client.ClientId</li>
    }

<!-- </ul> Fin de la liste-->
</ul>